<nav class="outer-nav left vertical"  layout="column">
    <a ng-click="navClick('/00')" class=" icon-home" href="#/00">

    </a>
    <a  layout="column" ng-click="navClick('/01')" href="#/01">
        <div>01. the warmest</div>
        <div>of welcomes</div>
    </a>
    <a layout="column" ng-click="navClick('/02')" href="#/02">
        <div>02. dubai &</div>
        <div>beyond</div>
    </a>
    <a  layout="column" ng-click="navClick('/03')" href="#/03">
        <div>03. smoothing</div>
        <div>the way</div>
    </a>
    <a  layout="column" ng-click="navClick('/04')" href="#/04">
        <div>04. something</div>
        <div>for everyone</div>
    </a>
    <a ng-click="navClick('/05')" href="#/05" layout="column">
        <div>05. the marhaba</div>
        <div>& lounge</div>
    </a>
    <a ng-click="navClick('/06')" href="#/06" layout="column">
        <div>06. simple</div>
        <div> connections</div>
    </a>
    <a ng-click="navClick('/07')" href="#/07"  layout="column">
        <div>07. services tailored</div>
        <div>to your business</div>
    </a>
</nav>