<div class="content" style="display: block; top: 0px; left: 0px;">
    <div id="navWrapper2" layout="column" show-md hide-gt-md hide-lg hide-gt-lg flex layout-padding  class="smallMenu" >
        <md-button ng-click="pageClick('/01')" layout-align="start start"class="md-raised md-warn md-hue-2">01. the warmest welcome</md-button>
        <md-button ng-click="pageClick('/02')" class="md-raised md-warn md-hue-2">02. dubai and beyond</md-button>
        <md-button ng-click="pageClick('/03')" class="md-raised md-warn md-hue-2">03. smoothing the way</md-button>
        <md-button ng-click="pageClick('/04')" class="md-raised md-warn md-hue-2">04. something for everybody</md-button>
        <md-button ng-click="pageClick('/05')" class="md-raised md-warn md-hue-2">05. the marhaba lounge</md-button>
        <md-button ng-click="pageClick('/06')" class="md-raised md-warn md-hue-2">06. simple connections</md-button>
        <md-button ng-click="pageClick('/07')" class="md-raised md-warn md-hue-2">07. services tailored to your business</md-button>


    </div>

    <div id="navWrapper" hide-sm hide-md hide-gt-md show-lg show-gt-lg>

        <section  layout="row"  flex layout-padding  layout-align="center center" class="a" ng-class='{animate:animate==true}'>
            <div  class="tiles" ng-click="pageClick('/02')">
                <div class="tilesText" layout="column">
                    <span> 02. dubai &</span>
                    <span>  beyond</span>
                </div>
                <img src="assets/images/img1.jpg" >
            </div>
            <div  class="tiles altTiles"></div>
            <div  class="tiles" ng-click="pageClick('/06')">
                <div class="tilesText" layout="column">
                    <span> 06. simple</span>
                    <span>  connections</span>
                </div>
                <img src="assets/images/img3.jpg" >
            </div>
            <div  class="tiles altTiles"></div>
        </section>
        <section  layout="row"  flex layout-padding="10"  layout-align="center center" ng-class='{animate:animate==true}' >
            <div  class="tiles" ng-click="pageClick('/01')">
                <div class="tilesText" layout="column">
                    <span> 01. the warmest</span>
                    <span>  welcome</span>
                </div>
                <img src="assets/images/img5.jpg">
            </div>
            <div  class="tiles" ng-click="pageClick('/03')">
                <div class="tilesText" layout="column">
                    <span> 03. smoothing &</span>
                    <span>  the way</span>
                </div>
                <img src="assets/images/img6.jpg" >
            </div>
            <div  class="tiles" ng-click="pageClick('/05')">
                <div class="tilesText" layout="column">
                    <span> 05. the marhaba </span>
                    <span>  & lounge</span>
                </div>
                <img src="assets/images/img6.jpg" >
            </div>
            <div  class="tiles" ng-click="pageClick('/07')">
                <div class="tilesText" layout="column">
                    <span> 07. services tailored</span>
                    <span>  to your business</span>
                </div>
                <img src="assets/images/img8.jpg" >
            </div>
        </section>
        <section layout="row"  flex layout-padding="10"  layout-align="center center" ng-class='{animate:animate==true}'>
            <div  class="tiles altTiles"></div>
            <div  class="tiles" ng-click="pageClick('/04')">
                <div class="tilesText" layout="column">
                    <span> 04. something</span>
                    <span>  for everyone</span>
                </div>
                <img src="assets/images/img10.jpg" >
            </div>
            <div  class="tiles altTiles"></div>
            <div  class="tiles">
                <div class="tilesText" layout="column">
                    <span> 08. partner</span>
                    <span>  with us</span>
                </div>
                <img src="assets/images/img12.jpg" >
            </div>
        </section>
    </div>
    <div id="bg" class="home">
        <img src="assets/images/bg.jpg"  alt="">
    </div>

</div>
